.search-form1 {
    height: 225px;
    width: 100%;
    background: linear-gradient(to top left, #feb23f, #feb23f);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 50px 40px 20px;
    border: none;
  }

  
  .location-input-wrapper1 {
    position: relative;
  }
  
  .location-input1 {
    height: 40px;
    font-size: 1.1rem;
    border: none;
    width: 87%;
    margin-top: 3px;
  }
  
  .search-icon-wrapper1 {
    position: absolute;
    top: 50%;
    right: -17px;
    transform: translateY(-50%);
  }
  
  .search-icon1 {
    color: #333;
    font-size: 1.3rem;
  }
  
  .date-input-wrapper1 {
    position: relative;
  }
  
  .dropdown-icon-wrapper1 {
    position: absolute;
    top: 45%;
    right: -9px;
    transform: translateY(-50%);
  }
  
  .dropdown-icon1 {
    color: #333;
    font-size: 1rem;
  }
  
  
  .dropdown-icon-wrapper21 {
    position: absolute;
    top: 45%;
    right: -9px;
    transform: translateY(-50%);
  }
  
  .dropdown-icon21 {
    color: #333;
    font-size: 1rem;
  }
  
  .date-label1{
    font-size: 0.9rem;
    margin-top: 10px;
    font-weight: 350;
  }
  
  .date-input1 {
    height: 40px;
    font-size: 1.1rem;
    border: none;
    width: 87%;
    cursor: pointer;
  }
  
  .search-button1 {
    cursor: pointer;
    background-color: #084BB4;
    color: white;
    font-size: 1rem;
    padding: 15px 30px;
    width: 88%;
    border-style: none;
    margin-top: 10px;
  }
  
  .location-input1,
  .date-input1 {
    text-indent: 8px;
  }
  
  .custom-datetime-picker1 {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    box-shadow: none;
  }
  
  .custom-datetime-picker:focus1 {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  